.loading {
  position: fixed;
  top: 30vh;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 1000px;
  margin-left: -20px;
}

.gif {
  width: 25vh;
  height: 25vh;
}
