.videoListing {
  margin-bottom: 1.125em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail {
  position: relative;
  display: grid;
  margin-bottom: 0.5em;
}

.image {
  width: 100%;
}

.videoTime {
  position: absolute;
  right: 5px;
  bottom: 20px;
  padding: 2px 7px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.description a { /* stylelint-disable-line */
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 1.17em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description a:link:active, .description a:visited:active { /* stylelint-disable-line */
  color: #fff;
}

.description a:hover { /* stylelint-disable-line */
  text-decoration: underline;
}
