.video__title {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 499px) {
  .video__title {
    font-size: 1rem;
  }
}

.back {
  text-align: center;
}

.button__back {
  cursor: pointer;
}

.button__back:hover {
  text-decoration: underline;
}

.videoPlayer {
  width: 100%;
}

.video__container {
  position: relative;
  text-align: center;
}

.video__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.video__overlay__hidden {
  display: none;
}

.video {
  width: 100%;
  vertical-align: middle;
}

.video__controls {
  display: flex;
  justify-content: center;
  margin: 20px;
}
